.moving-underline__parent {
  max-width: max-content;
  max-height: min-content;
}

.moving-underline__wrapper {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    color: black;
    right: 0;
    width: 0;
    height: 2px;
    margin-top: 1em;
    transition: 0.4s ease;
  }

  &:hover {
    &:after {
      width: 100%;
      left: 0;
      background-color: black;
    }
  }
}
