// importing dep stylesheet
@import './../../src/include-media';

.wrapper {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(calc(100vh / 3), auto);
  column-gap: 10px;
  row-gap: 10px;
  @include media('<desktop') {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media('<tablet') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media('<phone') {
    grid-template-columns: repeat(1, 1fr);
  }
}
